{{#if currentAffordances}}
<div class="dashcard-header variable_style">Affordances</div>

<div>
{{#each currentAffordances}}
{{#if ../animate}}
<div id="{{@key}}"  class="card dashcard slide-left" style="animation-delay:{{delay @index}}s -webkit-animation-delay:{{delay @index}}">
{{else}}
<div id="{{@key}}"  class="card dashcard">
{{/if}}

  <div class="">{{affordanceTitle}}
    <div id="follow-affordance-button" class="inlineButton">Go!</div>
  </div>

  <div class="tooltiptext">{{affordanceDescription}}</div>

    {{#if hasInputSchema}}
    <div id="tasks-content" class="dashcard-scroll-container">

      {{#each inputSchema.properties}}
        <input class="event-information-small" type="text" id="{{propertyName}}" placeholder="{{propertyName}} ({{schemaType}})"/>
      {{/each}}

      <!--
      {{#if inputSchema.requiredProperties}}
      <span class="event-information-small">Required: <b>{{inputSchema.requiredProperties}}</b></span>
      {{/if}}
      -->
    </div>
    {{/if}}
  </div>
{{/each}}
</div>

{{else}}
<div class="scroll-container-spacer"><div class="dashcard-spacer"><div class="dashcard-header variable_style">No Affordances</div></div></div>
{{/if}}
