{{#if currentArtifacts}}
<h4 class="artifact-scroll-header slide-left">Artifacts </h4>

<div>

  {{#each currentArtifacts}}
  {{#if ../animate}} 
    <div id="{{uri}}" element="artifactInstance" style="animation-delay:{{delay @index}}s" class="card dashcard slide-left" >
  {{else}}
    <div id="{{uri}}" element="artifactInstance" class="card dashcard">
      {{/if}}
      <div class="card-header artifact-header">{{title}}</div>
      <div class="card-body">
        <p class="card-text">Affordances: {{affordances.length}}</span>
      </div>
    </div>
  {{/each}}
</div>

{{else}}
<div>
  <p>No Artifacts</p>
</div>
{{/if}}

</div>