{{#if currentArtifacts}}
<h4 class="scroll-header artifact-color slide-left">Artifacts </h4>
<div>

  {{#each currentArtifacts}}
  {{#if ../animate}} 
    <div id="{{uri}}" class="card dashcard clickable slide-left" style="animation-delay:{{delay @index}}s -webkit-animation-delay:{{delay @index}}" >
  {{else}}
    <div id="{{uri}}" class="card dashcard clickable">
      {{/if}}
      <div class="card-header artifact-color-reverse">{{title}}</div>
      <div class="card-body">
        <p class="card-text">Affordances: {{affordances.length}}</span>
      </div>
    </div>
  {{/each}}
</div>

{{else}}
<div>
  <p>No Artifacts</p>
</div>
{{/if}}

</div>