{{#if currentArtifacts}}
<div class="artifact-header scroll-header">
  <h4 class="artifact-color slide-in-left">Things </h4>
</div>
<div class="scroll-container">
  {{#each currentArtifacts}}
  {{#if ../animate}} 
    <div id="{{id}}" class="card dashcard clickable slide-in-left" style="animation-delay:{{delay @index}}s -webkit-animation-delay:{{delay @index}}s" >
  {{else}}
    <div id="{{id}}" class="card dashcard clickable">
      {{/if}}
      <div class="card-header artifact-color-reverse">{{id}}</div>
      <div class="card-body">
        {{#if propertiesNum}}
        <p class="card-text">{{propertiesNum}} properties</p>
        {{/if}}
        {{#if actionsNum}}
        <p class="card-text">{{actionsNum}} actions</p>
        {{/if}}
        {{#if eventsNum}}
        <p class="card-text">{{eventsNum}} events </p>
        {{/if}}
      </div>
    </div>
  {{/each}}
</div>

{{else}}
<div>
  <p>No Artifacts</p>
</div>
{{/if}}

</div>