{{#if (isBooleanType value.type)}}
  <div class="input-group input-group-sm mb-3">
    <span class="input-group-text">{{key}}</span>
    <select name="{{key}}" class="form-select form-select-sm"
      {{#if (isInArray key required)}}
      required
      {{/if}}>
      <option selected>----</option>
      <option value="true">Vero</option>
      <option value="false">Falso</option>
    </select>
  </div>
{{/if}}


{{#if (isNumberType value.type)}}
  <div class="input-group input-group-sm mb-3">
    <span class="input-group-text">{{key}}</span>
    <input type="number" name="{{key}}" class="form-control" 
      placeholder="{{value.minimum}}" 
      max="{{value.maximum}}" 
      min="{{value.minimum}}"
      {{#if (isInArray key required)}}
      required
      {{/if}}>
  </div>
{{/if}}


{{#if (isIntegerType value.type)}}
  <div class="input-group input-group-sm mb-3">
    <span class="input-group-text">{{key}}</span>
    <input type="number" name="{{key}}" class="form-control" 
      placeholder="{{value.minimum}}" 
      max="{{value.maximum}}" 
      step="1" 
      pattern="\d*"
      min="{{value.minimum}}"
      {{#if (isInArray key required)}}
      required
      {{/if}}>
  </div>
{{/if}}


{{#if (isStringType value.type)}}
  <div class="input-group input-group-sm mb-3">
    <span class="input-group-text">{{key}}</span>
    <input type="text" name="{{key}}" class="form-control"
    placeholder="{{value.type}}"
    {{#if (isInArray key required)}}
    required
    {{/if}}>
  </div>
{{/if}}


{{#if (isObjectType value.type)}}
  <div class="object-schema">
    <p class="key">{{key}}</p>
    <div class="properties">
    {{#each (toList value.properties)}}
        {{>schemaInput value=this.value key=this.key required=../value.required}}
    {{/each}}
    </div>
  </div>
{{/if}}


{{#if (isArrayType value.type)}}
  {{!TODO support for arrays}}
  <p>Gli input come arrays non sono supportati</p>
{{/if}}